<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @productivity.date %>
</p>


<div id="players_wrapper">
	<%= render @productivity.predays %>
	<div id="form">
	<%= render "predays/form" %>
	</div>
</div>

<%= link_to 'Edit', edit_productivity_path(@productivity) %> |
<%= link_to 'Back', productivities_path %>
