
<%= form_for([@day, @day.things.build]) do |f| %>

	<h2>Preparation</h2>

	<%= f.text_field :mostimp, placeholder: "Most Important Thing" %><br>
	<%= f.text_area :notes, placeholder: "Notes" %><br>
	<%= f.text_area :why, placeholder: "Why is it the most important?" %><br>
	<%= f.text_area :whynot, placeholder: "Why might it not be?" %><br>
	<h2> Review of the day</h2>
	<%= f.text_area :time, placeholder: "How long did it take?" %><br>
	<%= f.text_area :noted, placeholder: "Notes" %><br>
	<p> Add what you want to measure here each week. <br> At the end of each week add upp your growth rate.  </p> 
	<%= f.text_area :growth, placeholder: "Growth rate per week" %><br>
	<%= f.submit %>
<% end %>
