<h2> Preperation for the day </h2>

<p><%= thing.mostimp %><p>
<p><%= thing.notes %><p>
<p><%= thing.why %></P>
<p><%= thing.whynot %></p>

<h2> Review of the day </h2> 
<p><%= thing.time %><p>
<p><%= thing.noted %></P>
<p><%= thing.growth %></p>


<%= link_to 'Edit', edit_day_thing_path(thing.day, thing) %>

<%= button_to "delete", [thing.day, thing], method: :delete, data: { confirm: "Are you sure" } %><br>
