<%= link_to 'Home', root_path %>
<%= form_for([@day, @day.things.build]) do |f| %>

<h2> Editing The day </h2><br>
	<h2>Preparation</h2>

	<%= f.text_field :mostimp, placeholder: "Most Important Thing" %><br>
	<%= f.text_area :notes, placeholder: "Notes" %><br>
	<%= f.text_area :why, placeholder: "Why is it the most important?" %><br>
	<%= f.text_area :whynot, placeholder: "Why might it not be?" %><br>
	
	<%= f.submit %>
<% end %>

<%= link_to 'Show', @day %> |
<%= link_to 'Back', days_path %>
