<%= preday.thing %>
<%= preday.why %>
<p><%= preday.whynot %></p>
<p><%= preday.notes %></P>


<%= link_to 'Edit', edit_productivity_preday_path(preday.productivity, preday) %>

<%= button_to "delete", [preday.productivity, preday], method: :delete, data: { confirm: "Are you sure" } %><br>