
<%= tit.exercise %>
<%= tit.set %>
<%= tit.reps %>
<%= tit.weight %>
<p><%= tit.time %></p>
<p><%= tit.notes %></p>
<p><%= tit.growthrate %></p>

<%= link_to 'Edit', edit_fit_tit_path(tit.fit, tit) %><br>
