
<%= link_to 'Days', days_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<h2> Preperation for the day </h2><hr>


<%= render @day.things %> 


<h4> Add the most important thing</h4> 

	<%= render "things/form" %>
	

<hr>
<h2> Review of the day </h2>  <hr>
<%= render @day.kings %><br>

<%= render "kings/form" %>

  <%#inputs form (don’t copy the inputs form, that a description of what the code does.) %>


<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
