<h1>Editing player</h1>           

<%= simple_form_for([@team, @player]) do |f| %> 
	<%= f.text_field :name, placeholder: "New Name" %><br>
	<%= f.text_field :position, placeholder: "Position" %><br>
	<%= f.text_area :notes, placeholder: "Notes on this player" %><br>
	<%= f.text_area :why, placeholder: "Why will he be good?" %><br>
	<%= f.text_area :why_not, placeholder: "Why could he not be good?" %><br>
	<%= f.submit %>

<% end %> 


<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>

