<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @fit.day %>
</p>


	<%= render @fit.lits %><br>

	<%= render "lits/form" %><br>
	

<%= link_to 'Edit', edit_fit_path(@fit) %> |
<%= link_to 'Back', fits_path %>
